.catalog__content {
  display: flex;
  gap: 88px;
}

.catalog__filters {
  @media screen and (max-width: 1024px){
    display: none;
  }
}

.catalog__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  @media screen and (min-width: 1024px){
    flex-direction: row;
  }
}

.catalog__breadcrumbs {
  margin-bottom: 27px;

  @media screen and (min-width: 1024px){
    margin-bottom: 24px;
  }
}

.catalog__controls {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1024px){
    grid-template-columns: none;
  }
}

.catalog__filter-btn {
  @media screen and (min-width: 1024px){
    display: none;
  }
}

.catalog__sort {
  display: flex;
  align-items: center;
  gap: 24px;

  & > .select {
    width: 100%;
  }
}

.catalog__sort-title {
  @media screen and (max-width: 1024px){
    display: none;
  }
}

.catalog__items {
  margin-top: 46px;
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  gap: 16px;


  & > div {
    min-height: 200px;
  }
}
.catalog__svgg{
  display: flex;
  justify-content: flex-end;
}
.catalog__svg1{
  margin-left: 194px;
}
.catalog__np {

  align-items: center;
  text-align: center;
  justify-content: center;
}
.catalog__name {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0115em;
  font-feature-settings: 'liga' off;

  color: #202020;


}

.catalog__price {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;

  color: #202020;

}
.catalog__pagination {
  margin-left: 62px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom:48px;

}
.catalog__buttons {

}
.catalog__button1 {
  font-size: 36px;
  cursor:pointer;
  background: #202020;
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 2px;
  color: #FFFFFF;
  text-decoration-line: unset;
}
.catalog__button2 {
  font-size: 36px;
  cursor:pointer;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 2px;
  color: #202020;
  text-decoration-line: unset;
}
.catalog__button3 {
  font-size: 36px;
  cursor:pointer;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 2px;
  color: #202020;
  text-decoration-line: unset;
}
.catalog__button4 {
  font-size: 36px;
  cursor:pointer;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 2px;
  color: #202020;
  text-decoration-line: unset;
}
.catalog__button5 {
  font-size: 36px;
  cursor:pointer;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 2px;
  color: #202020;
  text-decoration-line: unset;
}
.catalog__arrow {
  display: none;
  margin-left: 36px;
}
.catalog__arrowleft {
  font-size: 36px;
  cursor:pointer;
  background: #E9E9E9;
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 2px;
  color: #FFFFFF;
  text-decoration-line: unset;
}
.catalog__arrowrigt{
  font-size: 36px;
  cursor:pointer;
  background: #202020;
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 2px;
  color: #FFFFFF;
  text-decoration-line: unset;
}
.catalog__checktext {
  display: none;
  margin-left: 33px;
  text-align: center;
  align-items: center;
}
.catalog__Pok {

}
.catalog__check{
  margin-left: 16px;
  font-size: 36px;
  cursor:pointer;
  background: #FFFFFF;
  border: 1px solid #202020;
  box-sizing: border-box;
  border-radius: 2px;
  text-decoration-line: unset;
  color: #202020;

}
@media screen and (min-width: 1024px) {
  .catalog__pagination {
    margin-left: 236px;
  }
  .catalog__checktext {
    display: unset;

  }
  .catalog__arrow {
    display: unset;
  }
}
@media screen and (min-width: 1920px) {
  .catalog__pagination {
    margin-left: 444px;
  }
  .catalog__checktext {
    margin-left: 261px;
  }
}

